global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        uid 99
        gid 99
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        timeout connect      5000
        timeout client      50000
        timeout server      50000

listen percona-xtradb-cluster
    bind 0.0.0.0:3307
    mode tcp
    balance roundrobin
    option mysql-check user haproxy

    server tw01 192.168.0.8:3306 check weight 1
    server tw02 192.168.0.5:3306 check weight 1
